In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

####apply a fix to statsmodels Library
from scipy import stats
stats.chisqprob = lambda chisq, df: stats.chi2.sf(chisq,df)

In [3]:
raw_data = pd.read_csv(' binary_predictors.csv')
raw_data.head()

    SAT Admitted  Gender
0  1363       No    Male
1  1792      Yes  Female
2  1954      Yes  Female
3  1653       No    Male
4  1593       No    Male

In [5]:
data = raw_data.copy()
data['Admitted'] = data['Admitted'].map({'Yes':1,'No':0})
data['Gender'] = data['Gender'].map({'Female':1,'Male':0})
data

      SAT  Admitted  Gender
0    1363         0       0
1    1792         1       1
2    1954         1       1
3    1653         0       0
4    1593         0       0
5    1755         1       1
6    1775         1       1
7    1887         1       1
8    1893         1       1
9    1580         0       0
10   1857         1       1
11   1880         1       1
12   1664         1       1
13   1364         0       0
14   1693         0       0
15   1850         1       1
16   1633         0       0
17   1634         0       0
18   1636         1       1
19   1855         1       1
20   1987         1       1
21   1997         1       0
22   1422         0       1
23   1508         0       1
24   1720         1       1
25   1879         1       0
26   1634         1       1
27   1802         1       0
28   1849         1       1
29   1764         1       1
..    ...       ...     ...
138  1412         0       1
139  1557         0       0
140  1821         1       0
141  1760         1       1
142  1685         1       0
143  1773         1       1
144  1826         1       1
145  1565         0       1
146  1510         0       0
147  1374         0       0
148  1402         0       0
149  1702         1       0
150  1956         1       1
151  1933         1       0
152  1832         1       0
153  1893         1       0
154  1831         1       1
155  1487         0       0
156  2041         1       1
157  1850         1       0
158  1555         0       1
159  2020         1       1
160  1593         0       0
161  1934         1       1
162  1808         1       0
163  1722         1       1
164  1750         1       0
165  1555         0       0
166  1524         0       0
167  1461         0       0

[168 rows x 3 columns]

In [15]:
y = data ['Admitted']
x1 = data[['SAT','Gender']]

### regression

In [16]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x)
results_log = reg_log.fit()

Optimization terminated successfully.
         Current function value: 0.120117
         Iterations 10

In [17]:
results_log.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Admitted   No. Observations:                  168
Model:                          Logit   Df Residuals:                      165
Method:                           MLE   Df Model:                            2
Date:                Thu, 24 Oct 2019   Pseudo R-squ.:                  0.8249
Time:                        11:31:31   Log-Likelihood:                -20.180
converged:                       True   LL-Null:                       -115.26
                                        LLR p-value:                 5.118e-42
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -68.3489     16.454     -4.154      0.000    -100.598     -36.100
SAT            0.0406      0.010      4.129      0.000       0.021       0.060
Gender         1.9449      0.846      2.299      0.022       0.287       3.603
==============================================================================

Possibly complete quasi-separation: A fraction 0.27 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

In [11]:
np.exp(2.0786)

7.993270498536442

In [18]:
np.exp(1.9449)

6.992932526814459

### Accuracy

In [20]:
results_log.predict()

array([2.24098643e-06, 9.98264069e-01, 9.99997581e-01, 2.25470272e-01,
       2.48392751e-02, 9.92249420e-01, 9.96544212e-01, 9.99963261e-01,
       9.99971204e-01, 1.48031753e-02, 9.99875812e-01, 9.99951185e-01,
       7.60867651e-01, 2.33384671e-06, 5.96283811e-01, 9.99834996e-01,
       1.14446654e-01, 1.18626448e-01, 5.05147726e-01, 9.99865308e-01,
       9.99999366e-01, 9.99997048e-01, 1.71939595e-04, 5.61635704e-03,
       9.68663798e-01, 9.99644611e-01, 4.84851641e-01, 9.91962775e-01,
       9.99828160e-01, 9.94609023e-01, 1.15028367e-04, 8.32585363e-01,
       2.47449367e-01, 9.99998840e-01, 9.98847293e-01, 9.99372736e-01,
       3.12716933e-01, 9.99932453e-01, 2.32639633e-01, 5.29744519e-05,
       1.95739604e-02, 4.54521689e-01, 9.99956956e-01, 2.97763113e-06,
       9.94178832e-01, 1.77714430e-05, 9.93914956e-01, 2.29360536e-04,
       3.30501192e-04, 6.89914934e-03, 4.24966754e-03, 9.99999657e-01,
       9.23952460e-01, 2.28569785e-02, 9.99994550e-01, 5.47478329e-06,
       3.67295456e-01, 9.82709744e-01, 1.18626448e-01, 9.96812884e-01,
       4.42498320e-03, 7.83001539e-01, 9.99992146e-01, 9.98405619e-01,
       9.84722411e-01, 4.16877326e-05, 5.93790185e-06, 1.36735818e-03,
       9.99998969e-01, 4.16877326e-05, 7.76023661e-01, 1.18626448e-01,
       9.45435107e-04, 9.88912497e-01, 9.99058879e-01, 9.99982380e-01,
       1.65760554e-04, 3.04057622e-01, 9.99983689e-01, 9.99999439e-01,
       3.20169382e-03, 9.99092676e-01, 9.99998514e-01, 8.54018056e-01,
       9.99999841e-01, 9.99999797e-01, 1.94984937e-04, 9.99993869e-01,
       9.97874170e-01, 8.90053126e-01, 8.26849331e-01, 1.66794418e-03,
       9.82709744e-01, 9.68663798e-01, 4.57280919e-04, 9.99988727e-01,
       9.99780769e-01, 3.01439361e-02, 9.94609023e-01, 9.57153060e-01,
       9.96544212e-01, 2.05076737e-03, 9.97289354e-01, 1.42225547e-02,
       1.15939831e-02, 9.96939307e-01, 9.95595140e-01, 9.99525954e-01,
       2.69794875e-04, 1.35309631e-04, 2.29464135e-02, 3.30429262e-01,
       9.38962885e-05, 9.99994550e-01, 8.54173688e-02, 6.90365056e-07,
       9.69873058e-01, 2.11475559e-04, 7.45781524e-01, 9.99894427e-01,
       9.99994975e-01, 1.07417839e-02, 5.61635704e-03, 3.40287420e-05,
       9.99968769e-01, 4.42498320e-03, 9.86397174e-01, 5.66650756e-01,
       5.36533219e-01, 8.69014312e-01, 8.26849331e-01, 2.11475559e-04,
       9.99998252e-01, 2.13556422e-03, 4.21630759e-04, 6.32662368e-04,
       9.99998926e-01, 4.30350893e-02, 1.14569602e-04, 5.87100388e-03,
       9.96267866e-01, 9.93664406e-01, 5.16291768e-01, 9.96252976e-01,
       9.99562910e-01, 5.40573324e-02, 8.75249154e-04, 3.50270235e-06,
       1.09176200e-05, 6.80358735e-01, 9.99997769e-01, 9.99960313e-01,
       9.97609015e-01, 9.99798670e-01, 9.99643188e-01, 3.44191566e-04,
       9.99999929e-01, 9.98847293e-01, 3.66799700e-02, 9.99999834e-01,
       2.48392751e-02, 9.99994550e-01, 9.93689517e-01, 9.71037049e-01,
       9.37280353e-01, 5.41558024e-03, 1.54420446e-03, 1.19794265e-04])

In [21]:
np.array(data["Admitted"])

array([0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0], dtype=int64)

results_log.pred_table()

In [23]:
cm_df = pd.DataFrame(results_log.pred_table())
cm_df.columns = ['predicted 0','predicted 1']
cm_df = cm_df.rename(index={0:'Actual 0',1:'Actual 1'})
cm_df

          predicted 0  predicted 1
Actual 0         69.0          5.0
Actual 1          4.0         90.0

In [24]:
### 69+90=159+9=168 :159/168=0.946=94.6% accuracy

In [25]:
cm = np.array(cm_df)
accuracy_train = (cm[0,0]+cm[1,1])/cm.sum()
accuracy_train

0.9464285714285714

### Testing the model and assessing its accuracy